<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="societly" connectionString="Data Source=.\sqlexpress;Initial Catalog=societly_test;Integrated Security=SSPI;Trusted_Connection=yes" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>