<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.30.8" targetFramework="net45" />
  <package id="Fixie" version="1.0.0.15" targetFramework="net45" />
  <package id="NPoco" version="2.9.103" targetFramework="net45" />
  <package id="Respawn" version="0.1.0.0" targetFramework="net45" />
  <package id="Shouldly" version="2.5.0" targetFramework="net45" />
  <package id="structuremap" version="3.1.5.154" targetFramework="net45" />
</packages>