<p>
    Societly is a game about collaborating with your neighbors in the internet to build a virtual society.
    The world is <em>crowdsourced</em> by its players; the materials, structures, and items in-game are all
    proposed, discussed, and approved by those who will go on to use them. And, in the spirit of real sharing,
    the game's source code is <a href="https://github.com/pmcvtm/societly">available online</a>.
</p>

<p>
    So come put your Socialites to work, share with others, and contribute your ideas.
</p>

<h2 style="text-align: center; font-style: italic;">Let's Build A World Together</h2>

<p style="text-align: center;">
    @Html.ActionLink("Sign Up", "Register", "Account", new { }, new { @class = "pure-button pure-button-primary" })
    @Html.ActionLink("Log In", "LogIn", "Account", new { }, new { @class = "pure-button" })
</p>
