@using UI.Helpers
@model Societly.Features.Account.LoginUserCommand

<h2>Log In</h2>

@using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new {@class = "pure-form pure-form-aligned"}))
{
    <fieldset>
        <legend>Welcome back!</legend>
        
        @Html.FormGroupFor(x => x.Email, Html.EditorFor(x => x.Email))

        @Html.FormGroupFor(x => x.Password, Html.PasswordFor(x => x.Password))

        @Html.ActionLink("Bail", "Index", "Home", new { }, new { @class = "pure-button" })
        <input type="submit" class="pure-button pure-button-primary" value="Log In" />
    </fieldset>
}